:root{
  --darkcyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --verydarkblue: hsl(212, 21%, 14%);
  --darkgrayishblue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--cream);
  font-family: 'Montserrat', sans-serif;
}
h1{
  color: var(--verydarkblue);
  font-family: 'Fraunces', serif;
}
p{
  font-size: 14px;;
  color: var(--darkgrayishblue);
}

.card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr; 
  border-radius: 1em;
  background: var(--white);
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.perfume-text{
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*  Price */
.price{
  display: flex;
  align-items: center;
  gap: .3em;
}
.price p{
  text-decoration:line-through;
  
}
.price h2{
  font-family: 'Fraunces', serif;
  color: var(--darkcyan);
}


/*
The Img
*/
.img-container{
  height: 100%;
}
img{
  /*height: 100%;*/
  width: 100%;
  border-radius: 1em 0 0 1em;
}
.mobile-img{
  display: none;
}
.desktop-img{
  display: block;
}


button{
  background: var(--darkcyan);
  border: none;
  border-radius: 5px;
  color: var(--white);
  padding: 1em 0;
  margin: 1em 0;
  transition: background .5s ease;
}
button:active{
  background: var(--verydarkblue)
}

svg{
 margin-right: 1em;
}


/*
screen width for 768px and down
*/

@media only screen and (max-width: 768px) {
  .card{
    margin: 2em;
    position: static;
    transform: translate(0);
    display: flex;
    flex-direction: column;
  }
  .info p{
    margin: 1em 0;
  }
  img{
    border-radius: 1em 1em 0 0;
  }
  
  .desktop-img{
  display: none;
  }
  .mobile-img{
    display: block;
  }
  
}
